*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.nav-section{
  font-family:Georgia, serif;
}

.nav-content {
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}
.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}


/* Contact Form  */
body{
  background: -webkit-linear-gradient(left, #38689D, white);
}


.second-portion
{
  margin-top:50px; 
}

    @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

@media only screen and (max-width: 768px)
{
.contact-form
{
margin-top:25px; 
}

.btn-send
{
width: 100%;
padding:10px; 
}

.second-portion
{
margin-top:25px; 
}
}