*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.nav-section{
  font-family:Georgia, serif;
}

.nav-content {
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}
.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}



/* About US  */
.aboutus-area {
  padding-top:120px;
   padding-bottom:120px;
}
/*-- aboutus Image --*/
.aboutus-image {
margin-right: 52px;
width: 318px; }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .aboutus-image {
    margin-right: 35px;
    width: 345px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aboutus-image {
    margin-bottom: 30px;
    float: none; } }
@media only screen and (max-width: 767px) {
  .aboutus-image {
    margin-bottom: 30px;
    margin-right: 0;
    float: none;
    width: auto; } }
.aboutus-image img {
  width: 100%; }

/*-- aboutus Content --*/
.aboutus-content h1 {
font-size: 40px;
font-weight: 800;
line-height: 40px;
margin-bottom: 2px; }
@media only screen and (max-width: 479px) {
  .aboutus-content h1 {
    font-size: 30px;
    line-height: 30px; } }
.aboutus-content h1 span {
  color: whitesmoke; }

.aboutus-content h4 {
font-size: 18px;
font-weight: 500;
color: white;
margin-bottom: 23px; }

.aboutus-content p {
font-size: 16px;
line-height: 27px; }

body{
  background: -webkit-linear-gradient(left, #38689D, white);
}