*{
    margin: 0;
    padding: 0;
    font-family:Georgia, serif;
  }

.nav-section{
    font-family:Georgia, serif;
}

.nav-content {
    max-width: 1024px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}
.nav-content a {
    display: block;
    font-size: 24px;
    line-height: 44px;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  body{
    background: -webkit-linear-gradient(left, #38689D, white);
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
    opacity: 0.7;
}
.nav-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo img {
    width: 175px;
    height: 175px;
}

.nav-logo img {
    width: 175px;
    height: 175px;
}

.header-title{
    color:white;
    -webkit-text-stroke: 1px white;
    font-size: 60px;
}

#intro-info{
    color:black;
    font-size:xx-large;
}

/* Video  */

.section2 {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
  }
  
  .paragraph {
    color: #555;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 40px;
    color: #38689D;
    line-height: 24px;
  }

  .image{
      width: 400px;
  }