*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.team-section{
  overflow: hidden;
  text-align: center;
  /* background-image: url("../assets/echipa/background.jpg"); */
  /* padding: 40px;
  padding-left: 50px; */
  /* font-family:Georgia, serif; */
  
}

.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color:#38689D;
  font-size: 40px;
}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #38689D;
  margin-bottom:40px;
}

.ps{
  margin-bottom: 40px;
}
.ps a{
  display: inline-block;
  margin: 0 10px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover > img{
  filter:none;
}

.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: #38689D;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.section:target{
  height:auto;

}
.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
} */


/* Navigation */
.nav-section{
  font-family:Georgia, serif;
}

.nav-content {
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: #38689D;
  padding: 10px;
}
.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}
.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}




