*{
  margin: 0;
  padding: 0;
  /* font-family:Georgia, serif; */
}

.nav-section{
  font-family:Georgia, serif;
}

.nav-content {
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  padding: 10px;
}
body{
  background: -webkit-linear-gradient(left, #38689D, white);
}
.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
  opacity: 0.7;
}
.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo img {
  width: 175px;
  height: 175px;
}




/* Noutati  */
.site-heading h3{

  font-size : 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.site-heading p{
  font-size: 25px;
  font-style: 'font-family:courier,arial,helvetica';
}

.border {
  background: #d1360e;
  height: 2px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.blog-box {
  padding: 0 0px;
  transition: .5s;
  border: 4px solid #e2e2e2;
  margin-bottom: 30px;
}
.blog-box-content h4 a {
  font-size: 20px;
  padding: 0px 0 0px;
  text-transform: uppercase;
  color:#2b2b2b;
   text-decoration:none;

}
.blog-box-content h4:hover {
  color:#000;
   text-decoration:none;
  
}

.blog-box-content {
padding: 0 20px 20px;
}
.blog-box-text h4 a {
  color: #333;
}

.blog-box-image img{
  width: 300px;
  height: 250px;
}