*{
  margin: 0;
  padding: 0;
  font-family:Georgia, serif;
}

.nav-section{
    font-family:Georgia, serif;
}

.nav-content {
    max-width: 1024px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}
.nav-content a {
  display: block;
  font-size: 24px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  padding: 10px;
}
body{
  background: -webkit-linear-gradient(left, #38689D, white);
}
.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover {
    opacity: 0.7;
}
.nav-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo img {
    width: 175px;
    height: 175px;
}



/* menu preturi */
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 4em;
}
.menu {
  width: 600;
  border-radius: 12px;
  overflow: hidden;
}

.item {
  border-top: 1px solid #4284ca;
  overflow: hidden;
}

.btn {
  display: block;
  padding: 16px 20px;
  background: #38689D;
  color: white;
  position: relative;
  text-transform: uppercase;
  font-size: larger;
}

.btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #38689D;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.btn i {
  margin-right: 10px;
}

.smenu {
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  color:white
}

.smenu a {
  display: block;
  padding: 16px 26px;
  color: white;
  margin: 4px 0;
  position: relative;
}

.smenu a::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #4284ca;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.smenu a:hover::before {
  opacity: 1;
}

.item:target .smenu {
  max-height: none;
}